<?xml version="1.0" encoding="utf-8"?>
<AppSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <InputDefaultBindingsFixApplied>true</InputDefaultBindingsFixApplied>
    <ShowMenuFixApplied>true</ShowMenuFixApplied>
    <MenuUpdateVersion>0</MenuUpdateVersion>
    <Volume>59</Volume>
    <RecentFiles>
        <string>E:\迅雷下载\遮天\140 4K.mp4</string>
        <string>E:\迅雷下载\万界独尊\463 4K.mkv</string>
        <string>E:\迅雷下载\万界独尊\459 4K.mkv</string>
        <string>E:\迅雷下载\万界独尊\462 4K.mkv</string>
        <string>E:\迅雷下载\万界独尊\461 4K.mkv</string>
        <string>E:\迅雷下载\万界独尊\460 4K.mkv</string>
        <string>E:\迅雷下载\万界独尊\458 4K.mkv</string>
        <string>E:\迅雷下载\万界独尊\457 4K.mkv</string>
        <string>E:\迅雷下载\万界独尊\456 4K.mkv</string>
        <string>E:\迅雷下载\万界独尊\455 4K.mkv</string>
    </RecentFiles>
    <WindowLocation>
        <X>1</X>
        <Y>0</Y>
    </WindowLocation>
    <WindowPosition>
        <X>3503</X>
        <Y>1155</Y>
    </WindowPosition>
    <WindowSize>
        <Width>2240</Width>
        <Height>1260</Height>
    </WindowSize>
    <AudioDevice />
    <ConfigEditorSearch>Video:</ConfigEditorSearch>
    <Mute>no</Mute>
    <StartupFolder />
</AppSettings>